.aaa{text-align: center; border: 2px solid black;
    background-color:antiquewhite; }
    @media screen and (max-width:800px){
        .aaa{
            background-color: aqua;
        }
        
    }
  h1{
    font-weight: bold;
    
}




.ddd{border: 2px solid black;
    background-color: cadetblue;
    
}
@media screen and (max-width:800px){
    .ddd{
        background-color: blueviolet;
    }
    
}
h1{text-align: center;


}
.www{text-align: center;}

    h2{
    text-align: center;
}
.bbb{
    text-align: center;
    padding: 20px;
}




.akz{
    border: 2px solid black;
    background-color: cornflowerblue;
    border-radius: 10px;
}
@media screen and (max-width:800px){
    .akz{
        background-color:greenyellow;
    }}
.kkk{
    text-align: center;
}
img{
    padding-left: 20px;
    
   

}
.img2{
    text-align: center;
}

.rrr{
    text-align: center;
    padding: 20px;
}
footer{
    text-align: end;
    padding: 20px;
}
